.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;

  button,
  input {
    padding: 0.5rem;
    border: 1px solid black;
    font-size: 1rem;
  }

  button {
    background-color: rgb(144, 207, 166);
    color: white;
  }
}
